a:hover {
    color: #04B2D9 !important;
}

.ft-color {
    color: #04B2D9 !important;
}

.bg-navbar {
    min-height: 66px;
    background-color: #26014A;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.tagline {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #26014A;
    text-align: center;
    margin-top: 15px;
    background-color: whitesmoke;
    height: auto;
    width: 100vw;
    
}

.hero {
    height: 800px;
    width: 100vw;
    margin-bottom: 25px;
    background-image: url(./assets/images/light-bulb.jpg);
    background-size: cover;
    background-position: center;
}

.team {
    height: 800px;
    width: 100vw;
    margin-bottom: 250px;
    background-image: url(./assets/images/team.png);
    background-position: center;

}

.btm-btn {
    margin-top: 150px;
    font-family: 'Play', sans-serif;
    font-size: 27px;
    color: #48038C;
}

.headline-div {
    height: 500px;
    width: 100vw;
    margin-left: 200px;
    margin-top: 200px;
}

.card {
    border-color: transparent;
    margin: 0 !important;
}

#headline-img {
    margin-right: 200px;
    margin-top: 90px;
}

#headline-srvcs {
    font-family: 'Rajdhani', sans-serif;
    font-size: 17pt;
    padding-top: 10px;
}

.btn-headline {
    text-align: center;
    padding-bottom: 20px;

}

.btn-primary {
    background-color: #04B2D9;
    border-color: transparent;
    color: #48038C;
}

.btn:hover {
    background-color: #48038C;
    border-color: transparent;
    color: #04B2D9;
}

.button {
    background-color: #48038C;
    color: white;
}

.intro {
    margin-top: 50px;
    padding: 20px;
    background-color: whitesmoke;
    height: 400px;
    width: 100vw;
}

#headline {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}

.headline-p {
    margin-bottom: 100px;
}

.table {
    text-align: center;
}

.services {
    margin-top: 50px;
    padding: 20px;
    background-color: whitesmoke;
    height: 500px;
    width: 100vw;
    margin-bottom: 200px;
}

/* font-family: 'Play', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/

footer {
    width: 100vw;
    text-align: center;
    padding-top: 20px;
}

/*Portfolio page begins
*/
.portfolio {
    background-color: whitesmoke;
    height: auto;
    width: 100vw;
    padding: 20px;
    margin-top: 50px;

}

.proj-descr-hl {
    font-family: 'Play', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

#proj-descr {
    padding-top: 15px;
    font-family: 'Rajdhani', sans-serif;
   
}

/*Portfolio page begins
*/

.form {
    margin-top: 50px;
    width: 66vw;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 200px;
}