a:hover {
    color: #04B2D9 !important;
}

.ft-color {
    color: #04B2D9 !important;
}

.bg-navbar {
    min-height: 66px;
    background-color: #48038C;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.tagline {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #48038C;
    text-align: center;
    margin-top: 10px;
    background-color: whitesmoke;
    height: auto;
    width: 100vw;
    
}

.intro {
    margin-top: 50px;
    padding: 20px;
    background-color: whitesmoke;
    height: 500px;
    width: 66vw;
}


/* font-family: 'Play', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/
#headline {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 28px;
    
}

footer {
    width: 100vw;
    text-align: center;
    padding: 10px;
\}
